
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <meta name="description" content="Show result of scraping and analyzing" />
    <meta name="author" content="startbootstrap & AppSeed" />

    <title>
        {% block title %}Diagrams{% endblock %}
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

  </head>

  <body>

    <div class="container mt-5">
      <form method="POST" action="/scraping/diagrams" class="form-inline">

        {{scraping_data_form.hidden_tag()}}
        <div class="form-group mb-2">
          <label class="form-label mr-2">From Date</label>
          {{scraping_data_form.from_date(class='form-control', placeholder='From date')}}
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label class="form-label mr-2">To Date</label>
          {{scraping_data_form.to_date(class='form-control', placeholder='To date')}}
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label class="form-label mr-2">Select files to analyze</label>
          {{scraping_data_form.files_name(class='form-control', placeholder='Select files')}}
        </div>
        {% if diagrams_task_id %}
          <!--   If we receive diagram id then we are removing ability to filter
               and forcing user to see results of his filters criteria.
               -->
          <a href="{{ url_for('diagrams.get_diagrams_result', diagrams_task_id=diagrams_task_id) }}" class="btn btn-info mb-2">Check Diagrams</a>
        {% else %}
          <button type="submit" class="btn btn-primary mb-2">Filter</button>
        {% endif %}
      </form>

      {% block errors %}
        <!--check for erroe-->
        {% if not scraping_files_path %}
          <div class="alert alert-danger mt-3">
            <strong>Error!</strong> No files found. Change your filter criteria
            or wait until data will be available
          </div>
        {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}

  </div>
  {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  {% endblock%}
</body>
</html>
